<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Cadastrar/Atualizar Motos
		</h3>
	</div>
	<div class="panel-body">
		<form novalidate name="formulario" ng-submit="vm.salvar(formulario)">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="nome">Nome *</label>
						<input name="nome" type="text" class="form-control" id="nome" placeholder="Informe o nome" required ng-model="vm.moto.nome">
					</div>
				</div>	
				<div class="col-md-4">
					<div class="form-group">
						<label for="valor">Valor *</label>
						<input name="valor" type="text" class="form-control" id="valor" placeholder="Informe o valor" required ng-model="vm.moto.valor" ui-money-mask="2">
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="ano">Ano *</label>
						<select class="form-control text-filtros" ng-options="ano.id as ano.nome for ano in vm.anos" ng-model="vm.moto.ano" required>
						</select>
					</div>
				</div>	
				<div class="col-md-4">
					<div class="form-group">
						<label for="marca">Marca *</label>
						<select class="form-control text-filtros" ng-options="marca.id as marca.nome for marca in vm.marcas" ng-model="vm.moto.id_marca">
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="observacoes">Observações</label>
						<textarea id="observacoes" class="form-control" ng-model="vm.moto.observacoes" rows="10" placeholder="Observações referente"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label style="width: 100%;" for="imagem" class="btn btn-primary">Escolher Imagem Principal</label>
					<input id="imagem" name="imagem" type="file" ng-model="vm.moto.imagem" required base-sixty-four-input style="display: none;">
				</div>
				<div class="col-md-2">
					<label style="width: 100%;" for="img_aux_01" class="btn btn-primary">Escolher Imagem 01</label>
					<input id="img_aux_01" type="file" ng-model="vm.moto.img_aux_01" base-sixty-four-input style="display: none;">	
				</div>
				<div class="col-md-2">
					<label style="width: 100%;" for="img_aux_02" class="btn btn-primary">Escolher Imagem 02</label>
					<input id="img_aux_02" type="file" ng-model="vm.moto.img_aux_02" base-sixty-four-input style="display: none;">
				</div>
				<div class="col-md-2">
					<label style="width: 100%;" for="img_aux_03" class="btn btn-primary">Escolher Imagem 03</label>
					<input id="img_aux_03" type="file" ng-model="vm.moto.img_aux_03" base-sixty-four-input style="display: none;">
				</div>
				<div class="col-md-2">
					<label style="width: 100%;" for="img_aux_04" class="btn btn-primary">Escolher Imagem 04</label>
					<input id="img_aux_04" type="file" ng-model="vm.moto.img_aux_04" base-sixty-four-input style="display: none;">
				</div>
			</div>

			<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								Visualizador de Imagens
							</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-2" ng-if="vm.moto.imagem.filetype">
									<div class="thumbnail">
										<img class="img-preview" ng-src="data:{{ vm.moto.imagem.filetype}};base64,{{ vm.moto.imagem.base64 }}">
										<div class="caption">
											<h4 class="text-center">Imagem Principal</h4>
											<p>
												<button type="button" class="btn btn-danger" style="width: 100%;" role="button" ng-click="vm.remover('imagem')">Remover</button>
											</p>
										</div>
									</div>
								</div>

								<div class="col-md-2" ng-if="vm.moto.img_aux_01.filetype">
									<div class="thumbnail">
										<img class="img-preview" ng-src="data:{{ vm.moto.img_aux_01.filetype}};base64,{{ vm.moto.img_aux_01.base64 }}">
										<div class="caption">
											<h4 class="text-center">Imagem 01</h4>
											<p>
												<button type="button" class="btn btn-danger" style="width: 100%;" role="button" ng-click="vm.remover('img_aux_01')">Remover</button>
											</p>
										</div>
									</div>
								</div>

								<div class="col-md-2" ng-if="vm.moto.img_aux_02.filetype">
									<div class="thumbnail">
										<img class="img-preview" ng-src="data:{{ vm.moto.img_aux_02.filetype}};base64,{{ vm.moto.img_aux_02.base64 }}">
										<div class="caption">
											<h4 class="text-center">Imagem 02</h4>
											<p>
												<button type="button" class="btn btn-danger" style="width: 100%;" role="button" ng-click="vm.remover('img_aux_02')">Remover</button>
											</p>
										</div>
									</div>
								</div>

								<div class="col-md-2" ng-if="vm.moto.img_aux_03.filetype">
									<div class="thumbnail">
										<img class="img-preview" ng-src="data:{{ vm.moto.img_aux_03.filetype}};base64,{{ vm.moto.img_aux_03.base64 }}">
										<div class="caption">
											<h4 class="text-center">Imagem 03</h4>
											<p>
												<button type="button" class="btn btn-danger" style="width: 100%;" role="button" ng-click="vm.remover('img_aux_03')">Remover</button>
											</p>
										</div>
									</div>
								</div>

								<div class="col-md-2" ng-if="vm.moto.img_aux_04.filetype">
									<div class="thumbnail">
										<img class="img-preview" ng-src="data:{{ vm.moto.img_aux_04.filetype}};base64,{{ vm.moto.img_aux_04.base64 }}">
										<div class="caption">
											<h4 class="text-center">Imagem 04</h4>
											<p>
												<button type="button" class="btn btn-danger" style="width: 100%;" role="button" ng-click="vm.remover('img_aux_04')">Remover</button>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-12">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">
								Dados Referentes a Venda
							</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label>Valor de Compra</label>
										<input class="form-control" type="text" ui-money-mask="2" placeholder="Informe o valor de compra da moto" ng-model="vm.moto.valor_custos_compra_moto">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Custos com Mecânica</label>
										<input class="form-control" type="text" ui-money-mask="2" placeholder="Informe os custos com mecânica" ng-model="vm.moto.valor_custos_mecanica">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Custos com Documentos</label>
										<input class="form-control" type="text" ui-money-mask="2" placeholder="Informe os custos com documento" ng-model="vm.moto.valor_custos_documentos">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Custos Diversos</label>
										<input class="form-control" type="text" ui-money-mask="2" placeholder="Informe os custos diversos" ng-model="vm.moto.valor_custos_diversos">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Valor de Venda</label>
										<input class="form-control" type="text" ui-money-mask="2" placeholder="Informe o valor real de venda" ng-model="vm.moto.valor_venda">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Data de Venda</label>
										<input class="form-control" type="text" ui-date-mask placeholder="Informe a data de venda" ng-model="vm.moto.data_venda">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid" ng-hide="vm.moto.id">Salvar</button>
					<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid" ng-show="vm.moto.id">Atualizar</button>
					<a href="moto" class="btn btn-primary">Voltar</a>
				</div>
			</div>
		</form>
	</div>
</div>