<div class="left-sidebar panel-filtros">

	<h2>Filtros</h2>
	<div class="panel-group category-products" id="accordian">
		<div class="row" style="padding-bottom: 30px;" ng-show="vm.filtroExibicao">
			<div class="col-md-12">
				<table class="tabela-filtros">
					<tr ng-show="vm.filtroExibicao.marca">
						<td>Marca:</td>
						<td>{{vm.filtroExibicao.marca}}</td>
					</tr>
					<tr ng-show="vm.filtroExibicao.revenda">
						<td>Revenda:</td>
						<td>{{vm.filtroExibicao.revenda}}</td>
					</tr>
					<tr ng-show="vm.filtroExibicao.valorMin">
						<td>Valor Inicial:</td>
						<td>{{vm.filtroExibicao.valorMin}}</td>
					</tr>
					<tr ng-show="vm.filtroExibicao.valorMax">
						<td>Valor Final:</td>
						<td>{{vm.filtroExibicao.valorMax}}</td>
					</tr>
					<tr ng-show="vm.filtroExibicao.ano">
						<td>Ano:</td>
						<td>{{vm.filtroExibicao.ano}}</td>
					</tr>
					<tr ng-show="vm.filtroExibicao.revenda">
						<td>Revenda:</td>
						<td>{{vm.filtroExibicao.revenda}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label class="label-filtros">Pesquisar:</label>
				<input type="text" name="filtrar" placeholder="Filtrar" class="form-control text-filtros" ng-model="vm.filtro.query">
			</div>
			<div class="col-md-12">
				<label class="label-filtros">Marcas:</label>
				<select class="form-control text-filtros" ng-options="marca.id as marca.nome for marca in vm.marcas" ng-model="vm.filtro.marca">
				</select>
			</div>
			<div class="col-md-12">
				<label class="label-filtros">Revenda:</label>
				<select class="form-control text-filtros" ng-options="revenda.id as revenda.nome for revenda in vm.revendas" ng-model="vm.filtro.revenda">
				</select>
			</div>
			<div class="col-md-6">
				<label class="label-filtros">Valor Min (R$):</label>
				<input type="text" name="filtrar" placeholder="Filtrar" class="form-control text-filtros" ng-model="vm.filtro.valorMin">
			</div>
			<div class="col-md-6">
				<label class="label-filtros">Valor Max (R$):</label>
				<input type="text" name="filtrar" placeholder="Filtrar" class="form-control text-filtros" ng-model="vm.filtro.valorMax">
			</div>
			<div class="col-md-6">
				<label class="label-filtros">Ano Inicial:</label>
				<select class="form-control text-filtros" ng-options="ano.id as ano.nome for ano in vm.anos" ng-model="vm.filtro.anoInicial">
				</select>
			</div>
			<div class="col-md-6">
				<label class="label-filtros">Ano Final:</label>
				<select class="form-control text-filtros" ng-options="ano.id as ano.nome for ano in vm.anos" ng-model="vm.filtro.anoFinal">
				</select>
			</div>
			<div class="col-md-12">
				<br/>
				<button type="button" class="btn btn-primary" style="width: 100%;" ng-click="vm.filtrar()">Filtrar</button>
			</div>
		</div>
	</div>
</div>