<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Motos Semelhantes</h2>
					<!-- motos semelhantes -->
					<div class="panel-group category-products" id="accordian" ng-if="!vm.carregandoMotosSemelhantes">
						<div class="row">
							<!-- lista de motos -->
							<div class="col-md-12 text-center grid-esquerda-similares" ng-repeat="moto in vm.motosSemelhantes" ng-click="vm.detalhe(moto.id)" ng-if="vm.motosSemelhantes.length">
								<img ng-src="{{ moto.imagem }}" >
								<br/>
								<span><b>{{ moto.nome }}/{{moto.ano}}</b></span><br/>
								<span>{{ moto.valor | currency }}</span>
							</div>
							<!-- fim lista de motos -->
							<!-- não possui moto -->
							<div class="col-md-12 text-center grid-esquerda-similares" ng-if="!vm.motosSemelhantes.length">
								Não possui
							</div>
							<!-- fim não possui moto -->
						</div>
					</div>
					<!-- motos semelhantes -->

					<!-- loading motos semelhantes -->
					<div class="panel-group category-products" id="accordian" ng-if="vm.carregandoMotosSemelhantes">
						<div class="row">
							<div class="col-md-12 text-center">
								<h5 style="color: #FE980F;">Carregando...</h5>
							</div>
							<div class="col-md-12 text-center">
								<img src="images/loading.gif?v=1" style="width: 20px; height: 20px;">
							</div>
						</div>
					</div>
					<!-- fim loading motos semelhantes -->
				</div>
			</div>
			
			<!-- detalhe da moto -->
			<div class="col-sm-9 padding-right" ng-if="!vm.carregandoDados">

				<div class="product-details">
					<div class="col-sm-7">
						<div class="view-product text-center" >
							<img ng-src="{{ vm.imagemAtual }}" class="imagem-detalhe" />
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<a ng-click="vm.trocarImagemPrincipal(vm.moto, 'imagem')" ng-if="vm.moto.imagem" href="" class="link-img"><img class="img-min-preview" ng-src="{{ vm.moto.imagem }}" ></a>
								<a ng-click="vm.trocarImagemPrincipal(vm.moto, 'img_aux_01')" ng-if="vm.moto.img_aux_01" href="" class="link-img"><img class="img-min-preview" ng-src="{{ vm.moto.img_aux_01 }}" ></a>
								<a ng-click="vm.trocarImagemPrincipal(vm.moto, 'img_aux_02')" ng-if="vm.moto.img_aux_02" href="" class="link-img"><img class="img-min-preview" ng-src="{{ vm.moto.img_aux_02 }}" ></a>
								<a ng-click="vm.trocarImagemPrincipal(vm.moto, 'img_aux_03')" ng-if="vm.moto.img_aux_03" href="" class="link-img"><img class="img-min-preview" ng-src="{{ vm.moto.img_aux_03 }}" ></a>
								<a ng-click="vm.trocarImagemPrincipal(vm.moto, 'img_aux_04')" ng-if="vm.moto.img_aux_04" href="" class="link-img"><img class="img-min-preview" ng-src="{{ vm.moto.img_aux_04 }}" ></a>
							</div>
						</div>

					</div>
					<div class="col-sm-5 text-left">
						<div class="product-information">
							<h2>{{ vm.moto.nome }}/{{ vm.moto.ano }}</h2>
							<span>
								<span>{{ vm.moto.valor | currency }}</span>
							</span>
							<p><b>Marca:</b> {{ vm.moto.marca }}</p>
							<p><b>Revenda:</b> {{ vm.moto.revenda }}</p>
							<p ng-if="vm.moto.telefone"><b>Contato:</b> {{ vm.moto.telefone | brPhoneNumber }}</p>
						</div>
					</div>
				</div>
				<div class="category-tab shop-details-tab">
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li style="cursor: pointer;" ng-class="vm.abaAtual == vm.DETALHES ? 'active' : ''" ng-click="vm.trocarAba(vm.DETALHES)"><a href="#">Detalhes</a></li>
							<li style="cursor: pointer;" ng-class="vm.abaAtual == vm.REVENDA ? 'active' : ''" ng-click="vm.trocarAba(vm.REVENDA)"><a href="">Revenda</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" ng-show="vm.abaAtual == vm.DETALHES" id="reviews">
							<div class="col-sm-12">
								<p>{{ vm.moto.observacoes }}</p>
								<p><b>Entre em contato</b></p>
								
								<form name="formulario" novalidate ng-submit="vm.entrarEmContato(formulario)">
									<span>
										<input type="hidden" ng-model="vm.contato.id_revenda" ng-init="vm.contato.id_revenda = vm.moto.revenda_id">
										<input type="hidden" ng-model="vm.contato.id_moto" ng-init="vm.contato.id_moto = vm.moto.id">
										<input type="text" placeholder="Informe seu nome *" ng-model="vm.contato.nome" required />
										<input type="email" placeholder="Informe seu e-mail" ng-model="vm.contato.email" />
									</span>
									<textarea placeholder="Faça sua proposta *" ng-model="vm.contato.texto" required></textarea>
									<button type="submit" class="btn btn-default pull-right">
										Enviar
									</button>
								</form>
							</div>
						</div>
						<div class="tab-pane fade active in" ng-show="vm.abaAtual == vm.REVENDA" >
							<div class="col-sm-12">
								<a href="listar/motos/revenda/{{ vm.moto.revenda_id }}"><img ng-src="{{ vm.moto.revenda_imagem}}" class="imagem-revenda" /></a>
								<br/>
								<h4>{{ vm.moto.revenda }}</h4>
								<p ng-if="vm.moto.endereco && vm.moto.bairro && vm.moto.cidade">
									<i class="fa fa-map-marker" aria-hidden="true"></i> {{vm.moto.endereco}}, {{ vm.moto.bairro}} - {{ vm.moto.cidade }}
								</p>
								<p>
									<i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; {{ vm.moto.email }}
								</p>
								<p ng-if="vm.moto.site">
									<i class="fa fa-share" aria-hidden="true"></i>&nbsp;<a target="_" href="{{ vm.moto.site }}">Site Oficial</a>
								</p>
								<p ng-if="vm.moto.facebook">	
									<i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;<a target="_" href="{{ vm.moto.facebook }}">Página Oficial</a>
								</p>
								<p ng-if="vm.moto.telefone">
									<i class="fa fa-phone" aria-hidden="true"></i>&nbsp; {{ vm.moto.telefone | brPhoneNumber }}	
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-9 text-center" ng-if="vm.carregandoDados">
				<div class="col-md-12 text-center">
					<h1 style="color: #FE980F;">Carregando...</h1>
				</div>
				<div class="col-md-12 text-center">
					<img src="images/loading.gif?v=1" style="width: 50px; height: 50px;">
				</div>
			</div>
			<!-- fim detalhe da moto -->
		</div>
	</div>
</section>