<div class="features_items" ng-if="vm.motos.length > 0">
	<h2 class="title text-center">Motos</h2>
	<div class="col-sm-4" ng-repeat="moto in vm.motos" >
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<img ng-src="{{ moto.imagem }}" alt="" style="width: 200px; height: 180px;" />
					<h2> {{ moto.nome }}</h2>
					<p><b>{{ moto.valor | currency }}</b></p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12" >
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<a href="index.html" class="btn-limpar-filtros">Limpar Filtros</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="features_items" ng-if="vm.produtos.length == 0">
	<h2 class="title text-center">Produtos</h2>
	<div class="col-sm-12" >
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					Não possui produtos para a categoria filtrada.
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12" >
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<a href="index.html" class="btn-limpar-filtros">Limpar Filtros</a>
				</div>
			</div>
		</div>
	</div>
</div> -->