<div class="features_items" ng-if="vm.carregando">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 style="color: #FE980F;">Carregando...</h1>
		</div>
		<div class="col-md-12 text-center">
			<img src="images/loading.gif?v=1" style="width: 50px; height: 50px;">
		</div>
	</div>
</div>

<div class="features_items" ng-if="vm.motos.length > 0 && !vm.carregando">
	<h2 class="title text-center">Motos</h2>
	<div class="row">
		<div class="col-sm-6" ng-repeat="moto in vm.motos" style="cursor: pointer;" ng-click="vm.detalhe(moto.id)">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<img ng-src="{{ moto.imagem }}" alt="" style="width: auto; height: 120px;" />
						<h4> {{ moto.nome }}/{{moto.ano}}</h4>
						<p ng-show="moto.valor > 0"><b>{{ moto.valor | currency }}</b></p>
						<p ng-show="moto.valor == 0"><b>Consultar</b></p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	

	<!-- <div class="col-sm-12" >
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<a href="index.html" class="btn-limpar-filtros">Limpar Filtros</a>
				</div>
			</div>
		</div>
	</div> -->
</div>

<!-- <div class="features_items" ng-if="vm.produtos.length == 0">
	<h2 class="title text-center">Produtos</h2>
	<div class="col-sm-12" >
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					Não possui produtos para a categoria filtrada.
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12" >
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<a href="index.html" class="btn-limpar-filtros">Limpar Filtros</a>
				</div>
			</div>
		</div>
	</div>
</div> -->