<div class="features_items" ng-if="vm.carregando">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 style="color: #FE980F;">Carregando...</h1>
		</div>
		<div class="col-md-12 text-center">
			<img src="images/loading.gif?v=1" style="width: 50px; height: 50px;">
		</div>
	</div>
</div>

<div class="features_items" ng-if="vm.motos.length > 0 && !vm.carregando">
	<h2 class="title text-center">Motos</h2>
	<div class="row">
		<div class="col-sm-4" ng-repeat="moto in vm.motos" style="cursor: pointer;" ng-click="vm.detalhe(moto.id)">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<img ng-src="{{ moto.imagem }}" alt="" style="width: auto; height: 120px;" />
						<h4 style="color: #FE980F;"> {{ moto.nome }}</h4>
						<p ng-show="moto.valor > 0"><b>{{ moto.valor | currency }}</b>/<b>Ano: {{ moto.ano }}</b></p>
						<p ng-show="moto.valor == 0"><b>Consultar</b></p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row" style="padding-top: 5px; padding-bottom: 10px;" ng-show="!vm.carregando">
	<div class="col-md-6 text-left">
		<a ng-show="vm.anterior == 0" href="index.html" class="btn btn-default" >Anterior</a>
		<a ng-show="vm.anterior > 0" href="pagina/{{ vm.anterior }}" class="btn btn-default" >Anterior</a>
	</div>
	<div class="col-md-6 text-right">
		<a ng-show="vm.proxima" href="pagina/{{ vm.proxima}}" class="btn btn-default" >Próximo</a>
	</div>
</div>