<header id="header">
	<div class="header_top">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href="#"><i class="fa fa-phone"></i> 51 9999-9999</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i> contato@scsmotos.com.br</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="index.html"><img src="images/logo.png" alt="" style="width: 150px;" /></a>
					</div>
				</div>
				<!-- <div class="col-sm-8">
					<div class="shop-menu pull-right" ng-controller="Login as login">
						<ul class="nav navbar-nav">
							<li ng-if="!usuarioLogado.nome">
								<a href="entrar"><i class="fa fa-user"></i>
									Entrar
								</a>
							</li>
							<li ng-if="!usuarioLogado.nome">
								<a href="registrar-usuario"><i class="fa fa-plus"></i>Registrar</a>
							</li>
							<li><a href="carrinho"><i class="fa fa-shopping-cart"></i> Carrinho</a></li>
							<li ng-if="usuarioLogado.nome">
								<a href="minha-conta"><i class="fa fa-user"></i>
									Painel do Usuário
								</a>
							</li>
							<li>
								<a href="#" ng-click="login.sair();" ng-if="usuarioLogado.nome">
									<i class="fa fa-sign-out"></i>Sair	
								</a>
							</li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="search_box pull-right">
						<input type="text" placeholder="Pesquisar"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>