<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Lista de Mensagens
		</h3>
	</div>
	<div class="panel-body">
		<div class="row" style="padding-top: 5px;">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 15%">Remetente</th>
							<th style="width: 15%">Moto</th>
							<th style="width: 45%">Texto</th>
							<th style="width: 15%">Situação</th>
							<th style="width: 10%">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mensagem in vm.mensagemList" ng-if="vm.mensagemList.length > 0">
							<td>{{ mensagem.nome }}</td>
							<td><a href="registrar-moto/{{ mensagem.id_moto }}">{{ mensagem.nome_moto }}/{{ mensagem.ano_moto }}</a></td>
							<td>{{ mensagem.texto }}</td>
							<td>{{ mensagem.visualizado }}</td>
							<td>
								<a href="mensagem/{{ mensagem.id }}" class="btn btn-primary">Ver</a>
								<a href="mensagem/{{ mensagem.id }}" class="btn btn-primary">Remover</a>
							</td>
						</tr>
						<tr ng-if="vm.mensagemList.length == 0">
							<td class="text-center" colspan="5">Não possui registros.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>